:80 {
  encode zstd gzip

  handle /jellyfin* {
    reverse_proxy jellyfin:8096
  }

  handle /qbittorrent* {
    reverse_proxy qbittorrent:8081
  }

  handle /sonarr* {
    reverse_proxy sonarr:8989
  }

  handle /radarr* {
    reverse_proxy radarr:7878
  }

  handle /prowlarr* {
    reverse_proxy prowlarr:9696
  }

  handle {
    reverse_proxy nextcloud:80
  }
}
