:80 {
  encode zstd gzip

  redir /jelly /jelly/
  reverse_proxy /jelly/* jellyfin:8096

  redir /qbt /qbt/
  handle_path /qbt/* {
    reverse_proxy qbittorrent:8081 {
      header_up Host qbittorrent:8081
      header_up X-Forwarded-Host {hostport}
      header_up -Origin
      header_up -Referer
    }
  }

  handle /sonarr* {
    reverse_proxy sonarr:8989
  }

  handle /radarr* {
    reverse_proxy radarr:7878
  }

  handle /prowlarr* {
    reverse_proxy prowlarr:9696
  }

  handle {
    reverse_proxy nextcloud:80
  }
}
