*.retry
/.config/karabiner/automatic_backups/
/.config/pyradio/*.date
/.config/pyradio/*.ver
/.config/pyradio/data/*
/.config/zsh/.zcompdump
/.config/zsh/.zsh_history
/.config/zsh/plugins
/.smartcd/inodes
/.smartcd/scripts
/todo.txt
