[init]
    defaultBranch = main

[user]
    name = Kirill Klenov
    email = horneds@gmail.com
    editor = nvim

[core]
    autocrlf = input
    excludesfile = ~/gitignore
    filemode=true
    pager = /usr/bin/less
    sharedRepository=group
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol

[merge]
    tool = vimdiff
    conflictstyle = diff3

[mergetool]
    prompt = false

[diff]
    tool = vimdiff

[color]
    ui = auto

[color "branch"]
    current = bold cyan reverse
    local = cyan
    remote = yellow

[color "diff"]
    meta = yellow
    frag = cyan
    old = red bold
    new = green bold
    whitespace = red bold reverse

[color "status"]
    added = green bold
    changed = yellow
    untracked = red
    nobranch = red bold reverse

[alias]
    ; Show aliases
    alias = !git config --get-regexp alias | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\t => \\2/' | sort

    ; Common abbr
    co = checkout
    ci = commit
    st = status -sb
    br = branch
    mg = merge --no-ff
    ph = push --tags

    ; View logs and diff
    hist = log --graph --pretty="format:%C(yellow)%h%Cred%d\\ %Creset%s\\ %Cgreen[%an]" --all
    ls = log --pretty=format:"%C(yellow)%h\\ %Cblue[%cn]\\%Cred%d\\ %Creset%s" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --stat
    diff = diff --word-diff
    dc = diff --cached

    ; Git flow support
    hotfix = flow hotfix
    feature = flow feature
    release = flow release

    ; Undo
    amend = commit --amend -C HEAD
    undo = reset --soft HEAD^
    unstage = reset HEAD

    uv = commit -am 'Update version'

[github]
    user = klen

[push]
    default = current
    autoSetupRemote = true

[pull]
    rebase = true

[rebase]
    autoStash = true

[help]
    autocorrect = 1

[rerere]
    enabled = true
    autoUpdate = true

[branch "master"]
    remote = origin
    merge = refs/heads/master

[branch "main"]
    remote = origin
    merge = refs/heads/main

[branch "develop"]
    remote = origin
    merge = refs/heads/develop
